body {
  font-size: 16px;
  font-family: Helvetica;
  background-color: white;
}

nav {
	background-color: #607D8B;
	display: inline-block;
	width: 100%;
	margin: auto;
	min-height: 100px;
}

nav h1{
	
	color: white;
	float: left;
	position: relative;
	margin: 0;
	font-size: 24px;
	padding: 35px;
	display: inline;
}

nav ul {
	float: right;
	list-style-type: none;
  	margin: auto;
  	padding: 0;
	display: inline;
	color: white;
	
}

nav ul li {
	float: right;
	top: 50%;
  	left: 50%;
	padding: 32px;
	font-size: 20px;
	border-left: 1px solid #000000;
}

nav ul li a {
	display: block;
	padding: 8px;
	color: white;
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

.home_page_image img {
	display: block;
	width: 60%;
	height: 600px;
	margin: auto;
	align-content: center ;
}

body .sidebar {
	min-height: 400px;
	float: left;
	height: auto;
	padding: 5px;
	font-size: 18px;
	width: 20%; 
	background-color: #CFD8DC;
	margin-top: 85px;
	text-align: left;
}

.sidebar .filters {
	text-align: left;
	margin: 10px;
}

.main-content #product-header {
	text-align: left;
	padding: 0px;
	position: relative;
	margin-left: 358px;
}

/* from https://code-boxx.com/simple-css-product-grid/#sec-grid */

#p-flex {
	max-width: 1000px;
    margin: 0 auto;
    display: flex;
   	flex-direction: row;
    flex-wrap: wrap;
}

div.p-flex {
   	width: 33.3%;
}

div.p-flex-in {
	box-sizing: border-box;
    margin: 5px; 
    padding: 10px;
    background: #CFD8DC;
}

img.p-img {
   	width: 100%;
   	height: auto;
}

div.p-name {
    font-weight: bold;
    font-size: 1.1em;
}